[0;1;32m●[0m fakesms-webhook.service - FakeSMS GitHub Webhook
     Loaded: loaded (]8;;file://vps-xpqgsveq.afzoneh-nevis.com/etc/systemd/system/fakesms-webhook.service/etc/systemd/system/fakesms-webhook.service]8;;; [0;1;32menabled[0m; preset: [0;1;38;5;185mdisabled[0m)
     Active: [0;1;32mactive (running)[0m since Sun 2026-07-19 02:48:29 IST; 28min ago
   Main PID: 205431 (python3)
      Tasks: 1 (limit: 5752)
     Memory: 25.4M
        CPU: 253ms
     CGroup: /system.slice/fakesms-webhook.service
             └─[0;38;5;245m205431 /usr/bin/python3 /root/fakesms-server/webhook_handler.py[0m

Jul 19 02:48:29 vps-xpqgsveq.afzoneh-nevis.com python3[205431]:  * Running on http://127.0.0.1:5000
Jul 19 02:48:29 vps-xpqgsveq.afzoneh-nevis.com python3[205431]:  * Running on http://82.39.154.21:5000
Jul 19 02:48:29 vps-xpqgsveq.afzoneh-nevis.com python3[205431]: Press CTRL+C to quit
Jul 19 02:51:14 vps-xpqgsveq.afzoneh-nevis.com python3[205431]: 127.0.0.1 - - [19/Jul/2026 02:51:14] "POST /request HTTP/1.1" 200 -
Jul 19 02:55:07 vps-xpqgsveq.afzoneh-nevis.com python3[205431]: 127.0.0.1 - - [19/Jul/2026 02:55:07] "GET /get-messages HTTP/1.1" 200 -
Jul 19 02:56:39 vps-xpqgsveq.afzoneh-nevis.com python3[205431]: 127.0.0.1 - - [19/Jul/2026 02:56:39] "POST /confirm-done HTTP/1.1" 200 -
Jul 19 02:56:56 vps-xpqgsveq.afzoneh-nevis.com python3[205431]: 127.0.0.1 - - [19/Jul/2026 02:56:56] "POST /request HTTP/1.1" 200 -
Jul 19 03:12:45 vps-xpqgsveq.afzoneh-nevis.com python3[205431]: 198.235.24.69 - - [19/Jul/2026 03:12:45] "GET / HTTP/1.1" 404 -
Jul 19 03:16:28 vps-xpqgsveq.afzoneh-nevis.com python3[205431]: 91.107.181.218 - - [19/Jul/2026 03:16:28] "POST /request HTTP/1.1" 400 -
Jul 19 03:16:47 vps-xpqgsveq.afzoneh-nevis.com python3[205431]: 91.107.181.218 - - [19/Jul/2026 03:16:47] "POST /request HTTP/1.1" 400 -
